.TodoItem {
  display: flex;
  height: 60px;
  margin-bottom: 10px;
}

.TodoItem > * {
  display: flex;
  align-items: center;
}

.TodoItem .Status {
  width: 60px;
  height: 100%;
  justify-content: center;
  color: #FFFFFF;
}

.NotStarted .Status {
  background-color: #0FC3ED;
}

.InProgress .Status {
  background-color: #45CE96;
}

.Completed .Status {
  background-color: #00AE77;
}

.TodoItem .Description {
  flex-grow: 1;
  padding: 0 15px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}

.TodoItem .Manage {
  justify-content: space-between;
  width: 75px;
  padding: 0 15px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}

.TodoItem .Manage button {
  color: #787878;
  font-size: 22px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.TodoItem .Manage button[disabled] {
  color: #E1E1E1;
  cursor: default;
}
