.TodoInput {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  border: 1px solid #787878;
}

.TodoInput.Focus {
  border-color: #00AE77;
}

.TodoInput input {
  flex-grow: 1;
  padding: 15px 15px 0;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #787878;
  letter-spacing: .25px;
  min-width: 200px;
}

.TodoInput input::placeholder {
  color: #E1E1E1;
}

.TodoInput select {
  height: 60px;
  width: 160px;
  margin: 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #787878;
  letter-spacing: .25px;
}

.TodoInput button {
  border: none;
  font-size: 22px;
  width: 60px;
  cursor: pointer;
  color: #787878;
}

.TodoInput button[disabled] {
  cursor: default;
}

.TodoInput.Focus button {
  color: #00AE77;
}

@media (min-width: 480px) {
  .TodoInput {
    flex-wrap: nowrap;
  }

  .TodoInput input {
    padding-bottom: 15px;
  }
}
